@import "tailwindcss";
@plugin "daisyui";




@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');



body {
  font-family: "Lilex", monospace;
  font-optical-sizing: auto;
  
}






